.button {
  font-family: "Oswald", "Arial", sans-serif;
  width: 280px;
  height: 40px;
  font-size: 16px;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
  text-align: center;
  display: inline-block;

  &--show-more {
    color: #444444;
    background-color: #f2f2f2;

    @media (min-width: $desktop-width) {
      width: 173px;
    }
  }
}
