.catalog-promo {
  min-height: 289px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  margin-bottom: 35px;
  position: relative;

  @media (min-width: $tablet-width) {
    background-size: cover;
    background-position: 0 -326px;
    display: flex;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 293px;
    background-position: right;
    margin-top: 84px;
    margin-left: 80px;
    margin-bottom: 0;
  }
}

.catalog-promo__img {
  position: absolute;
  top: 65px;
  left: 103px;

  @media (min-width: $tablet-width) {
    top: 103px;
  }

  @media (min-width: $desktop-width) {
    top: 62px;
    transform: translateX(-62%);
  }
}

.catalog-promo__text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  width: 161px;
  margin: auto;
  padding-top: 181px;

  @media (min-width: $tablet-width) {
    margin-right: 119px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    padding-top: 125px;
  }
}
