.extra-product {
  border-top: 1px solid #cdcdcd;

  &:last-child {
    border-bottom: 1px solid #cdcdcd;
  }

  @media (min-width: $tablet-width) {
    border-right: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd;
    padding: 28px 37px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: baseline;
    border-right: none;
    border-left: none;
    padding: 13px 0;
  }
}

.extra-product__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 170px;
    margin-right: 100px;
  }
}

.extra-product__table {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  margin-bottom: 14px;
  width: 100%;
  text-align: left;

  td:nth-child(2n) {
    text-align: right;
  }

  @media (min-width: $tablet-width) {
    td:nth-child(2n) {
      width: 100px;
      margin-right: 25px;
    }

    text-align: right;
  }

  @media (min-width: $desktop-width) {
    width: 250px;
    text-align: left;

    td:nth-child(2n) {
      text-align: right;
    }
  }
}

.extra-product__button {
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    width: 633px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    margin: 0;
    margin-left: auto;
  }
}

.extra-product__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}
