.form-contacts {
  border: none;
}

.form-contacts__list {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.form-contacts__item {
  margin-bottom: 14px;
  position: relative;

  @media (min-width: $desktop-width) {
    width: 570px;
    margin-bottom: 20px;
  }
}

.form-contacts__e-mail {
  margin-left: 12px;
  width: 210px;

  @media (min-width: $tablet-width) {
    width: 625px;
  }
}

.form-contacts__mail-button {
  position: absolute;
  top: 14px;
  right: 2px;
}

.form-contacts__telephone {
  margin-left: 10px;
  width: 195px;

  @media (min-width: $tablet-width) {
    width: 606px;
  }
}

.form-contacts__telephone-button {
  position: absolute;
  top: 11px;
  right: 2px;
}
