.form-contacts {
  border: none;
}

.form-contacts__list {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.form-contacts__item {
  margin-bottom: 14px;
  position: relative;
  display: flex;
  align-items: center;

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
    flex-grow: 1;
  }
}

.form-contacts__e-mail {
  margin-left: 12px;
}

.form-contacts__mail-button {
  position: absolute;
  top: 14px;
  right: 2px;
}

.form-contacts__telephone {
  margin-left: 10px;
}

.form-contacts__telephone-button {
  position: absolute;
  top: 11px;
  right: 2px;
}
