.main-contacts {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding-top: 31px;
  margin-bottom: 26px;
}

.main-contacts__title {
  color: #111111;
  text-transform: uppercase;
  text-align: left;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  margin: 0;
  margin-right: 19px;

  @media (min-width: $tablet-width) {
    width: 154px;
    padding-left: 40px;
  }
}

.main-contacts__address {
  color: #444444;
  font-family: "Arial", sans-serif;
  text-align: left;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;

  @media (min-width: $tablet-width) {
    width: 160px;
  }
}
