.main-contacts {
  background-color: #ffffff;
}

.main-contacts__title {
  color: #111111;
  text-transform: uppercase;
  text-align: left;
  font-size: 16px;
  line-height: 20px;
}

.main-contacts__address {
  color: #444444;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-size: 14px;
  line-height: 20px;
}
