.main-contacts {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding-top: 31px;
  padding-right: 25px;
  padding-left: 19px;
}

.main-contacts__title {
  color: #111111;
  text-transform: uppercase;
  text-align: left;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  margin: 0;
}

.main-contacts__address {
  color: #444444;
  font-family: "Arial", sans-serif;
  text-align: left;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
}
