.promo {
  font-family: "Oswald", "Arial", sans-serif;
  height: 305px;
  color: #ffffff;
  text-align: center;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: #69b738;
  margin-bottom: 190px;

  @media (min-width: $tablet-width) {
    color: #111111;
    background-image: none;
    background-color: #ffffff;
    position: relative;
    z-index: 1;
    text-align: left;
  }
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  margin: 0 auto;
  padding-top: 29px;
  padding-bottom: 19px;
  font-weight: normal;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    width: 415px;
    margin: 0;
  }
}

.promo__text {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0 auto;
  padding-bottom: 29px;
  font-weight: normal;

  @media (min-width: $tablet-width) {
    font: 20px;
    line-height: 20px;
    text-align: left;
  }
}

.promo__select-program {
  width: 280px;
  height: 40px;
  font-size: 14px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    width: 245px;
    height: 52px;
    font-size: 20px;
    line-height: 52px;
  }
}

.promo__image {
  @media (min-width: $tablet-width) {
    position: absolute;
    z-index: -1;
    text-align: center;

  }
}
