.promo {
  height: 305px;
  color: #ffffff;
  text-align: center;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: #69b738;
  margin-bottom: 190px;
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  margin: 0 auto;
  padding-top: 29px;
  padding-bottom: 19px;
  font-weight: normal;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }
}

.promo__text {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0 auto;
  padding-bottom: 29px;
  font-weight: normal;
}
