.promo {
  width: 320px;
  height: 305px;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: #69b738;
}

.promo-title {
  font-size: 36px;
  line-height: 36px;
}

.promo-text {
  font-size: 14px;
  line-height: 14px;
}
