.show-more__title {
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-align: center;
}

.show-more__text {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
}
