.site-list__item {
  min-height: 65px;
  border-top: 1px solid #ededed;
}

.site-list__link {
  color: #111111;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}
