.site-list {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;

  @media (min-width: $tablet-width) {
    font-weight: 400;
  }
}

.site-list__item {
  min-height: 65px;
  border-top: 1px solid #ededed;

  @media (min-width: $tablet-width) {
    padding-left: 35px;
  }
}

.site-list__link {
  color: #111111;
  font-size: 20px;
  line-height: 65px;
  text-align: center;
  text-transform: uppercase;
}
